<div class="container">
    <h1>Update Profile</h1>
    <form [formGroup]="profileForm" (ngSubmit)="onUpdateProfile()">
        <div class="FormControl">
            <label htmlFor="name">Name:</label>
            <input type="text" formControlName="name" />
        </div>

        <div class="FormControl">
            <label htmlFor="name">Email:</label>
            <input type="email" formControlName="email" />
        </div>
        <div class="FormControl">
            <label htmlFor="name">Password:</label>
            <input type="password" formControlName="password" />
        </div>
        <div class="FormControl">
            <button type="submit" class="btn">Update Profile</button>
        </div>
    </form>
</div>